################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/.vs/BookStore
/BookStore/BookStoreWeb/bin/Debug/netcoreapp3.1
